.custom-input {
  border: 2px solid #DBDBDB;
  box-shadow: none;
  border-radius: 3px;
}

.custom-input-error {
  border-color: #ef5350;
}

.form-group input {
  font-size: 15px;
}

.custom-well .btn-lg {
  font-size: 15px;
}